@model MarketPhone.WEB.Models.ViewModels.OrderViewModel

<form method="post">
    <input asp-for="@Model.PhoneId" hidden />
    <div class="form-group">
        <label for="Address">Address: </label>
        <input asp-for="@Model.Address" type="text" class="form-control" id="Address" placeholder="Input here..">
    </div>
    <br />
    <div class="form-group">
        <label for="PhoneNumber">Phone Number: </label>
        <input asp-for="@Model.PhoneNumber" type="text" class="form-control" id="PhoneNumber" placeholder="Input here..">
    </div>
    <br />
    <div class="text-center"> 
        <button type="submit" asp-action="MakeOrder" class="btn btn-outline-success">Submit</button>
    </div>
</form>

